body {
	background-color: lightblue;
	font-family: sans-serif;
}

#container {
	width: 800px;
	margin: 0 auto;
	border: 25px solid rgba(255,255,255,.6);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

header {
	width: 100%;
	height: 150px;
	background-color: white;
}

h1 {
	font-size: 40px;
	padding-left: 150px;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 20px;
}

header p {
	padding-left: 150px;
	margin: 0;
}

.subhead {
	margin-top: 5px;
	font-style: italic;
	font-weight: 100;
}

.city {
	margin-top: 5px;
	font-style: normal;
	font-weight: 400;
}

#separator {
	height: 200px;
	width: 800px;
	background-color: rgba(255, 255, 255, 1);

}

#main-container {
	width: 800px;
	background-color: white;
	margin: 0 auto;
	border: 25px solid rgba(173,216,230,.4);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.tweet {
	margin: 5px 10px;
}

button
{
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 20px auto 50px;
    color: #ccc;
    background-color: #555;
    background: -webkit-linear-gradient(#888, #555);
    background: linear-gradient(#888, #555);
    border: 0 none;
    border-radius: 3px;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
    cursor: pointer;
    -webkit-transition: all 150ms ease;
        transition: all 150ms ease;
}

button:hover, button:focus
{
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
 
@-webkit-keyframes pulsate
{
    0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
    50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
    100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}
         
@keyframes pulsate
{
    0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
    50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
    100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

button:active
{
    color: #fff;
    text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    -webkit-animation: none;
    animation: none;
}

button:focus {
	outline: none;
}

span {
	color: rgb(43, 127, 154);
	cursor: pointer;
}

span:hover {
	text-decoration: underline;
}

#main-container p {
	font-size: 13px;
	margin: 0 0 50px 25px;
}
